.resources__link {
  text-decoration: none;   /* работает и без него, но какой-нибудь маргинальный браузер еще вздумает подчеркнуть изображение */
  display: inline-block;
  height: 100%;
  transition: transform .5s ease, opacity .5s ease;
}

.resources__link:hover {
  transform: scale(1.05, 1.2);
  opacity: .63;
}
