/*
Класс "resources__link" присвоен элементу списка, а не тегу <a>, для того,
чтобы нельзя было нажимать на ссылки за пределами их видимого содержимого.
*/

.resources__link {
  margin: 0;
  padding: 0;
  width: 270px;
  height: 38px;
  list-style-type: none;
  text-align: center;      /* (изображение оставляем как строчный элемент) */
}

/*
Когда используемым тегам приходится навешивать обёртки из семантических тегов,
которые навязывают свои дефолтные отступы и прочие параметры, то чтобы сбросить эти параметры,
не создавая при этом лишних классов, я использую следующий вид селектора:
(подробнее свои соображения по этому поводу я изложил в footer__column-link.css)
*/

.resources__link > a {
  text-decoration: none;   /* работает и без него, но какой-нибудь маргинальный браузер еще вздумает подчеркнуть изображение */
}
