.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-white);
  transition: opacity .3s ease;  /* так плавность будет работать в обе стороны */
}

.footer__column-link:hover {
  opacity: .5;
}
