/*
Я полагаю, что следующее правило не должно противоречить методологии БЭМ,
так как оно не распространяется на элементы списков, находящихся за пределами нашего блока,
а если вдруг мы захотим разместить чужой блок внутри элемента нашего списка,
то на элементы его списков, если таковые будут, оно тоже не подействует,
так как оно адресовано только непосредственным потомкам контейнера.
Не хотелось бы создавать отдельный класс-модификатор только лишь для того, чтобы
сбросить отступы у элемента списка, а потом прописывать его в каждом элементе разметки.
Такой класс будет загромождать код, не неся при этом важной смысловой нагрузки.
*/

.footer__column-links > li {
  margin: 0;
  padding: 0;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-decoration: none;
  color: var(--color-white);
}

.footer__column-link:hover {
  opacity: .5;
  transition: opacity .3s ease;
}
