.feynman {
  padding-top: 100px;
  min-height: 790px;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: var(--color-black);
  background-color: var(--color-light-grey);
  background-image: url(feynman.png);
  background-position: left bottom;
  background-size: 867px 637px;
  background-repeat: no-repeat;
  position: relative;
}
