.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  background-color: var(--color-light-grey);
  color: var(--color-black);
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;  /* чтобы квадрат не отображался за пределами секции */
}
