.two-columns__brief {
  margin: 0;
  padding: 0;
  width: 175px;           /* В брифе 1 спринта указано именно "width", и этот вариант кажется более адаптивным: ведь текста тут мало, и места для его переноса достаточно */
  /*min-width: 175px;*/   /* На случай, если надо, чтобы текст не переносился при сужении всей таблицы */
  color: var(--color-blue);
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}
