.table__cell_theme_dark {
  width: 200px;      /* переопределяем ширину ячейки */
  margin-top: 80px;  /* переопределяем расстояние между рядами с помощью margin */
  counter-increment: item-index;   /* с каждым элементом увеличить счетчик на единицу */
}
